@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  height: 200vh;
}

/* Text types */
.textHeader {
  font-size: 50px;
  font-weight: 700;
}

.smallTextHeader {
  font-size: 40px;
  font-weight: 700;
}

.textNormal {
  font-size: 25px;
}

/* Text types */

/* Basic layout*/
.pagePart {
  display: grid;
  grid-template-columns: 1fr 900px 1fr;
  width: 100%;
  overflow: hidden;
}

.textCon {
  display: flex;
  flex-direction: column;
}

.bgColorEl {
  width: 100%;
  height: 100%;
}

.smoothCon {
  height: 100%;
  width: 40px;
}

.smoothRightConSide {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  justify-self: flex-start;
}

.smoothLeftConSide {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  justify-self: flex-end;
  width: 60px;
}

.dislocatedText {
  position: relative;
  right: calc(800px - 50vw);
}

/* Basic layout End*/

/* Infodots   */
.infoDot {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-color: #d9d9d9ff;
  position: absolute;
  transition: 0.5s;
}

.infoDot:hover {
  width: 650px;
  height: 650px;
  background-color: black;
}

.infoCon {
  width: 650px;
  height: 650px;
  border-radius: 20px;
}

.infoDot1 {
  top: 55px;
  left: 28px;
  z-index: 1;
}

.infoDot3 {
  top: 550px;
  right: calc(50vw - 600px);
  z-index: 2;
}

.infoDot3:hover {
  height: 500px;
}

.infoDot4 {
  top: 981px;
  left: calc(50vw - 250px);
}

.infoDot4:hover {
  height: 150px;
}

.infoDotImage {
  height: auto;
  width: 570px;
}

.infoDotEl {
  display: flex;
  flex-direction: column;
  gap: 30px;
  opacity: 0;
  height: 30px;
  width: 30px;
  overflow: hidden;
  transition: 0.5s;
}

.infoDotEl:hover {
  opacity: 1;
  height: 590px;
  width: 590px;
  padding: 40px;
}

/* InfoDots End */

/* Switch */
.switchCon {
  padding: 15px;
  position: absolute;
  right: 50px;
  top: 30px;
}

.pageSwitchCon {
  top: 260px;
}

.switchBall {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #d9d9d9ff;
  position: absolute;
  right: 70px;
  top: 22px;
  transition: 0.3s;
}

.badSwitchBall {
  right: 22px;
}

.switchBorder {
  height: 56px;
  width: 103px;
  border: solid 4px black;
  border-radius: 60px;
}
/* Switch End*/

/* header */

/* Shared Header */
.headerCon {
  height: 220px;
  display: flex;
  flex-direction: column;
}

/* Shared Header end*/

/* Good header */
.goodHeaderCon {
}

.headerUpper {
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logoWithTextCon {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding-top: 30px;
  padding-left: 70px;
  user-select: none;
}

.logoHeader {
  font-size: 60px;
  height: 68px;
}

.logoText {
  font-size: 30px;
  color: #666666;
  align-self: flex-end;
}

.headerMid {
  height: 35%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  padding-right: 60px;
}

.headerMidFill {
  height: 20px;
  width: 100px;
}

.headerMidCon {
  display: flex;
  justify-content: space-evenly;
}

.menuBtn {
  font-size: 30px;
  width: 140px;
  padding: 6px;
  transition: 0.2s;
  user-select: none;
  text-align: center;
}

.menuBtn:hover {
  background-color: rgb(227, 227, 227);
}

.selectedMenuBtn {
  border-bottom: solid gray 4px;
  transition: 0.2s;
}

.headerLower {
  height: 5%;
  background-color: black;
}
/* Good header End */

/* Bad Header */

.badHeaderCon {
  background-color: #0000ffff;
}

/* Bad Header end*/

/* header End */

/* FlowchartPage */

.flowchartPageCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.flowchartImg {
  width: 900px;
}

/* FlowchartPage End */

/* Color Page */

.leftMonoColor {
  position: absolute;
  height: 261.6px;
  width: 900px;
  right: calc(50vw + 444px);
}

.monocolorCon {
  background-image: url(./img/rightMonoColor.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.goodColorPageCon {
  padding-top: 80px;
  height: 2400px;
}

.colorwheelImgCon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.colorwheelImg {
  width: 600px;
}

.badColorPageCon {
  background-color: yellow;
  padding-top: 80px;
  height: 2400px;
}

/* Color Page End */

/* Homepage  */

.badHomepageCon {
  padding-bottom: 500px;
}

.switchWithArrowImg {
  height: 200px;
  width: 650px;
  align-self: center;
}

/* Homepage END */

/* Fontspage */

.fontsPageCon {
  display: flex;
  flex-direction: column;
}

/* Fontspage END */
